.FadeInSection_section__T9Wu3 {
    opacity: 0;
    transition: opacity .5s ease-in-out
}

.FadeInSection_fadeIn__VeZyJ {
    opacity: 1
}

.Card_imageCursor__jUMvi {
    cursor: url(/images/DynamicCursor_48px.png),auto
}

@media only screen and (min-width: 768px) {
    .Card_imageCursor__jUMvi {
        cursor:url(/images/DynamicCursor_64px.png),auto
    }
}

@media only screen and (min-width: 1920px) {
    .Card_imageCursor__jUMvi {
        cursor:url(/images/DynamicCursor_80px.png),auto
    }
}

.styles_minHeightFull__8MeMO {
    min-height: var(--viewport-height,100vh)
}

.CheckBox_h1__eMjXO {
    font-family: Huge;
    font-size: 64px;
    letter-spacing: .02rem;
    line-height: .9
}

@media(min-width: 1024px) {
    .CheckBox_h1__eMjXO {
        font-size:calc(72 / 1024 * 100vw);
        line-height: 1.1
    }
}

@media(min-width: 1440px) {
    .CheckBox_h1__eMjXO {
        font-size:calc(100 / 1440 * 100vw);
        line-height: 1
    }
}

.CheckBox_h2__M3D_r {
    font-family: Huge;
    font-size: 40px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .CheckBox_h2__M3D_r {
        font-size:calc(50 / 1024 * 100vw);
        line-height: .9
    }
}

@media(min-width: 1440px) {
    .CheckBox_h2__M3D_r {
        font-size:calc(70 / 1440 * 100vw);
        line-height: 1
    }
}

.CheckBox_h3__pZQNb {
    font-family: Huge;
    font-size: 26px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .CheckBox_h3__pZQNb {
        font-size:calc(40 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_h3__pZQNb {
        font-size:calc(50 / 1440 * 100vw)
    }
}

.CheckBox_h4__cs3PF {
    font-family: Huge;
    font-size: 24px;
    letter-spacing: .02rem;
    line-height: 1.1
}

@media(min-width: 1024px) {
    .CheckBox_h4__cs3PF {
        font-size:calc(34 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_h4__cs3PF {
        font-size:calc(34 / 1440 * 100vw)
    }
}

.CheckBox_h5__BYF6h {
    font-family: Huge;
    font-size: 20px;
    letter-spacing: .02rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .CheckBox_h5__BYF6h {
        font-size:calc(24 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_h5__BYF6h {
        font-size:calc(24 / 1440 * 100vw)
    }
}

.CheckBox_h6__DE8WN {
    font-family: Huge;
    font-size: 14px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .CheckBox_h6__DE8WN {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_h6__DE8WN {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.CheckBox_eyebrow__bx2lB {
    font-family: Huge;
    font-size: 12px;
    letter-spacing: .04rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .CheckBox_eyebrow__bx2lB {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_eyebrow__bx2lB {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.CheckBox_smallEyebrow__0xpUO {
    font-family: Huge;
    font-size: 10px;
    letter-spacing: .04rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .CheckBox_smallEyebrow__0xpUO {
        font-size:calc(10 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_smallEyebrow__0xpUO {
        font-size:calc(10 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.CheckBox_bigText__JdWLG {
    font-family: Huge;
    font-size: 100px;
    letter-spacing: .02rem;
    line-height: .9
}

@media(min-width: 1024px) {
    .CheckBox_bigText__JdWLG {
        font-size:calc(180 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_bigText__JdWLG {
        font-size:calc(250 / 1440 * 100vw)
    }
}

.CheckBox_comment__uG34e {
    font-family: TobiasRegular;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .01rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .CheckBox_comment__uG34e {
        font-size:calc(30 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_comment__uG34e {
        font-size:calc(30 / 1440 * 100vw)
    }
}

.CheckBox_highlightText__jT7nF {
    font-family: TobiasRegular;
    font-size: 16px;
    letter-spacing: .01rem;
    line-height: 1.6
}

@media(min-width: 1024px) {
    .CheckBox_highlightText__jT7nF {
        font-size:calc(16 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_highlightText__jT7nF {
        font-size:calc(16 / 1440 * 100vw)
    }
}

.CheckBox_quote__UmOp5 {
    font-family: TobiasLight;
    font-size: 30px;
    letter-spacing: .01rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .CheckBox_quote__UmOp5 {
        font-size:calc(30 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_quote__UmOp5 {
        font-size:calc(30 / 1440 * 100vw)
    }
}

.CheckBox_bigQuote__6ww6s {
    font-family: TobiasLight;
    font-size: 32px;
    letter-spacing: .01rem;
    line-height: 1.27
}

@media(min-width: 1024px) {
    .CheckBox_bigQuote__6ww6s {
        font-size:calc(40 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_bigQuote__6ww6s {
        font-size:calc(48 / 1440 * 100vw)
    }
}

.CheckBox_author__MFUQ3 {
    font-family: Huge;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .CheckBox_author__MFUQ3 {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_author__MFUQ3 {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.CheckBox_cardHeadline__3Z0um {
    font-family: Huge;
    font-size: 24px;
    letter-spacing: .02rem;
    line-height: 1.1
}

@media(min-width: 1024px) {
    .CheckBox_cardHeadline__3Z0um {
        font-size:calc(22 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_cardHeadline__3Z0um {
        font-size:calc(28 / 1440 * 100vw)
    }
}

.CheckBox_body__AW9Q3 {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.8
}

@media(min-width: 1024px) {
    .CheckBox_body__AW9Q3 {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_body__AW9Q3 {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.CheckBox_bigBody__7tkou {
    font-family: TobiasRegular;
    font-size: 16px;
    letter-spacing: .01rem;
    line-height: 1.5
}

@media(min-width: 1024px) {
    .CheckBox_bigBody__7tkou {
        font-size:calc(16 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_bigBody__7tkou {
        font-size:calc(24 / 1440 * 100vw)
    }
}

.CheckBox_lH1Headline__eBNk7 {
    font-family: Huge;
    font-size: 40px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .CheckBox_lH1Headline__eBNk7 {
        font-size:calc(72 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_lH1Headline__eBNk7 {
        font-size:calc(100 / 1440 * 100vw)
    }
}

.CheckBox_articleParagraph__TKkKt {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.5
}

@media(min-width: 1024px) {
    .CheckBox_articleParagraph__TKkKt {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_articleParagraph__TKkKt {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.CheckBox_formTitle__SvxPa {
    font-family: Huge;
    font-size: 20px;
    letter-spacing: .02rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .CheckBox_formTitle__SvxPa {
        font-size:calc(12 / 1024 * 100vw);
        letter-spacing: .04rem
    }
}

@media(min-width: 1440px) {
    .CheckBox_formTitle__SvxPa {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.CheckBox_checkbox__eRVzP .CheckBox_check__Xj7BR {
    align-items: center;
    background: transparent;
    border: 1px solid #727272;
    display: flex;
    flex-shrink: 0;
    height: 23px;
    justify-content: center;
    margin-right: 16px;
    position: relative;
    width: 23px
}

@media(min-width: 1024px) {
    .CheckBox_checkbox__eRVzP .CheckBox_check__Xj7BR {
        height:calc(23 / 1024 * 100vw);
        margin-right: calc(16 / 1024 * 100vw);
        width: calc(23 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_checkbox__eRVzP .CheckBox_check__Xj7BR {
        height:calc(23 / 1440 * 100vw);
        margin-right: calc(16 / 1440 * 100vw);
        width: calc(23 / 1440 * 100vw)
    }
}

.CheckBox_checkbox__eRVzP .CheckBox_check__Xj7BR:after {
    background: #f9008e;
    content: "";
    height: 13px;
    opacity: 0;
    width: 13px
}

@media(min-width: 1024px) {
    .CheckBox_checkbox__eRVzP .CheckBox_check__Xj7BR:after {
        height:calc(13 / 1024 * 100vw);
        width: calc(13 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_checkbox__eRVzP .CheckBox_check__Xj7BR:after {
        height:calc(13 / 1440 * 100vw);
        width: calc(13 / 1440 * 100vw)
    }
}

.CheckBox_checkbox__eRVzP {
    font-family: Huge;
    font-size: 12px;
    letter-spacing: .04rem;
    line-height: .994;
    align-items: center;
    cursor: pointer;
    display: flex
}

@media(min-width: 1024px) {
    .CheckBox_checkbox__eRVzP {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .CheckBox_checkbox__eRVzP {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.CheckBox_checkbox__eRVzP>input[type=checkbox] {
    height: 1px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 1px
}

.CheckBox_checkbox__eRVzP>input[type=checkbox].focus-visible:focus~.CheckBox_check__Xj7BR {
    outline: 1px auto blue
}

.CheckBox_checkbox__eRVzP>input[type=checkbox]:checked~.CheckBox_check__Xj7BR:after {
    opacity: 1
}

.black .CheckBox_checkbox__eRVzP>input[type=checkbox]:focus~.CheckBox_check__Xj7BR {
    border: 1px solid #fff
}

.white .CheckBox_checkbox__eRVzP>input[type=checkbox]:focus~.CheckBox_check__Xj7BR {
    border: 1px solid #141414
}

.Input_input__KIqyb {
    transition: color .5s ease,background-color .5s ease,border-color .4s ease-in-out
}

.Input_input__KIqyb+label>span {
    transition: top .1s ease,font-size .1s ease,color .1s ease
}

.Input_input__KIqyb.Input_active__3BJ35:valid+label>span,.Input_input__KIqyb:-webkit-autofill+label>span,.Input_input__KIqyb:focus+label>span,.Input_input__KIqyb:not([value=""])+label>span {
    --tw-text-opacity: 1;
    color: rgb(115 118 125/var(--tw-text-opacity));
    font-size: 12px;
    top: -58px
}

.Input_input__KIqyb:invalid+label>span {
    color: #000
}

.ErrorDot_dot__DpNZw {
    background: #f9008e;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 20px;
    transform: translateY(20px);
    width: 8px
}

@media(min-width: 1024px) {
    .ErrorDot_dot__DpNZw {
        height:calc(8 / 1024 * 100vw);
        right: calc(20 / 1024 * 100vw);
        transform: translateY(calc(20 / 1024 * 100vw));
        width: calc(8 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .ErrorDot_dot__DpNZw {
        height:calc(8 / 1440 * 100vw);
        right: calc(20 / 1440 * 100vw);
        transform: translateY(calc(20 / 1440 * 100vw));
        width: calc(8 / 1440 * 100vw)
    }
}

.InputFile_h1___TjQc {
    font-family: Huge;
    font-size: 64px;
    letter-spacing: .02rem;
    line-height: .9
}

@media(min-width: 1024px) {
    .InputFile_h1___TjQc {
        font-size:calc(72 / 1024 * 100vw);
        line-height: 1.1
    }
}

@media(min-width: 1440px) {
    .InputFile_h1___TjQc {
        font-size:calc(100 / 1440 * 100vw);
        line-height: 1
    }
}

.InputFile_h2__oSASQ {
    font-family: Huge;
    font-size: 40px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .InputFile_h2__oSASQ {
        font-size:calc(50 / 1024 * 100vw);
        line-height: .9
    }
}

@media(min-width: 1440px) {
    .InputFile_h2__oSASQ {
        font-size:calc(70 / 1440 * 100vw);
        line-height: 1
    }
}

.InputFile_h3__SSejX {
    font-family: Huge;
    font-size: 26px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .InputFile_h3__SSejX {
        font-size:calc(40 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_h3__SSejX {
        font-size:calc(50 / 1440 * 100vw)
    }
}

.InputFile_h4__BRdwt {
    font-family: Huge;
    font-size: 24px;
    letter-spacing: .02rem;
    line-height: 1.1
}

@media(min-width: 1024px) {
    .InputFile_h4__BRdwt {
        font-size:calc(34 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_h4__BRdwt {
        font-size:calc(34 / 1440 * 100vw)
    }
}

.InputFile_h5__vtU15 {
    font-family: Huge;
    font-size: 20px;
    letter-spacing: .02rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .InputFile_h5__vtU15 {
        font-size:calc(24 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_h5__vtU15 {
        font-size:calc(24 / 1440 * 100vw)
    }
}

.InputFile_h6__yr89K {
    font-family: Huge;
    font-size: 14px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .InputFile_h6__yr89K {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_h6__yr89K {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.InputFile_eyebrow__zGaZZ {
    font-family: Huge;
    font-size: 12px;
    letter-spacing: .04rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .InputFile_eyebrow__zGaZZ {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_eyebrow__zGaZZ {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.InputFile_smallEyebrow__rn_l4 {
    font-family: Huge;
    font-size: 10px;
    letter-spacing: .04rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .InputFile_smallEyebrow__rn_l4 {
        font-size:calc(10 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_smallEyebrow__rn_l4 {
        font-size:calc(10 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.InputFile_bigText__cEy84 {
    font-family: Huge;
    font-size: 100px;
    letter-spacing: .02rem;
    line-height: .9
}

@media(min-width: 1024px) {
    .InputFile_bigText__cEy84 {
        font-size:calc(180 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_bigText__cEy84 {
        font-size:calc(250 / 1440 * 100vw)
    }
}

.InputFile_comment__6pgtN {
    font-family: TobiasRegular;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .01rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .InputFile_comment__6pgtN {
        font-size:calc(30 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_comment__6pgtN {
        font-size:calc(30 / 1440 * 100vw)
    }
}

.InputFile_highlightText__hfTFP {
    font-family: TobiasRegular;
    font-size: 16px;
    letter-spacing: .01rem;
    line-height: 1.6
}

@media(min-width: 1024px) {
    .InputFile_highlightText__hfTFP {
        font-size:calc(16 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_highlightText__hfTFP {
        font-size:calc(16 / 1440 * 100vw)
    }
}

.InputFile_quote__lUTMb {
    font-family: TobiasLight;
    font-size: 30px;
    letter-spacing: .01rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .InputFile_quote__lUTMb {
        font-size:calc(30 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_quote__lUTMb {
        font-size:calc(30 / 1440 * 100vw)
    }
}

.InputFile_bigQuote__bGbSv {
    font-family: TobiasLight;
    font-size: 32px;
    letter-spacing: .01rem;
    line-height: 1.27
}

@media(min-width: 1024px) {
    .InputFile_bigQuote__bGbSv {
        font-size:calc(40 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_bigQuote__bGbSv {
        font-size:calc(48 / 1440 * 100vw)
    }
}

.InputFile_author__oROY7 {
    font-family: Huge;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .InputFile_author__oROY7 {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_author__oROY7 {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.InputFile_cardHeadline__D6mN4 {
    font-family: Huge;
    font-size: 24px;
    letter-spacing: .02rem;
    line-height: 1.1
}

@media(min-width: 1024px) {
    .InputFile_cardHeadline__D6mN4 {
        font-size:calc(22 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_cardHeadline__D6mN4 {
        font-size:calc(28 / 1440 * 100vw)
    }
}

.InputFile_body__jsqio {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.8
}

@media(min-width: 1024px) {
    .InputFile_body__jsqio {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_body__jsqio {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.InputFile_bigBody__J1zN6 {
    font-family: TobiasRegular;
    font-size: 16px;
    letter-spacing: .01rem;
    line-height: 1.5
}

@media(min-width: 1024px) {
    .InputFile_bigBody__J1zN6 {
        font-size:calc(16 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_bigBody__J1zN6 {
        font-size:calc(24 / 1440 * 100vw)
    }
}

.InputFile_lH1Headline__8UIiI {
    font-family: Huge;
    font-size: 40px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .InputFile_lH1Headline__8UIiI {
        font-size:calc(72 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_lH1Headline__8UIiI {
        font-size:calc(100 / 1440 * 100vw)
    }
}

.InputFile_articleParagraph__hPMQu {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.5
}

@media(min-width: 1024px) {
    .InputFile_articleParagraph__hPMQu {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_articleParagraph__hPMQu {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.InputFile_formTitle__RciSz {
    font-family: Huge;
    font-size: 20px;
    letter-spacing: .02rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .InputFile_formTitle__RciSz {
        font-size:calc(12 / 1024 * 100vw);
        letter-spacing: .04rem
    }
}

@media(min-width: 1440px) {
    .InputFile_formTitle__RciSz {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.InputFile_container__HSuSE {
    margin: 48px 0
}

@media(min-width: 1024px) {
    .InputFile_container__HSuSE {
        margin-bottom:calc(64 / 1024 * 100vw);
        margin-top: calc(64 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_container__HSuSE {
        margin-bottom:calc(80 / 1440 * 100vw);
        margin-top: calc(80 / 1440 * 100vw)
    }
}

.InputFile_fileName__h8YGl {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.8;
    display: block
}

@media(min-width: 1024px) {
    .InputFile_fileName__h8YGl {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_fileName__h8YGl {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.InputFile_inputButton__fRKXO {
    font-family: Huge;
    font-size: 12px;
    letter-spacing: .04rem;
    line-height: .994;
    background: transparent;
    border: 1px solid #727272;
    cursor: pointer;
    display: block;
    padding: 34px 16px;
    text-align: left;
    width: 100%
}

@media(min-width: 1024px) {
    .InputFile_inputButton__fRKXO {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_inputButton__fRKXO {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

@media(min-width: 1024px) {
    .InputFile_inputButton__fRKXO {
        padding:calc(34 / 1024 * 100vw) calc(16 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .InputFile_inputButton__fRKXO {
        padding:calc(34 / 1440 * 100vw) calc(32 / 1440 * 100vw)
    }
}

@media(hover: hover) {
    .InputFile_inputButton__fRKXO:hover {
        color:#f9008e
    }
}

.InputFile_hidden__YVSZF {
    opacity: 0;
    position: absolute
}

.InputFile_hidden__YVSZF.focus-visible:focus+label {
    outline: 1px auto blue
}

.InputFile_errorDot__C1uWR.InputFile_errorDot__C1uWR {
    transform: translateY(36px)
}

@media(min-width: 1024px) {
    .InputFile_errorDot__C1uWR.InputFile_errorDot__C1uWR {
        transform:translateY(calc(36 / 1024 * 100vw))
    }
}

@media(min-width: 1440px) {
    .InputFile_errorDot__C1uWR.InputFile_errorDot__C1uWR {
        transform:translateY(calc(38 / 1440 * 100vw))
    }
}

@media(hover: hover) {
    .black .InputFile_inputButton__fRKXO:hover {
        border-color:#fff
    }

    .white .InputFile_inputButton__fRKXO:hover {
        border-color: #141414
    }
}

.OptionGroup_h1__aWzfS {
    font-family: Huge;
    font-size: 64px;
    letter-spacing: .02rem;
    line-height: .9
}

@media(min-width: 1024px) {
    .OptionGroup_h1__aWzfS {
        font-size:calc(72 / 1024 * 100vw);
        line-height: 1.1
    }
}

@media(min-width: 1440px) {
    .OptionGroup_h1__aWzfS {
        font-size:calc(100 / 1440 * 100vw);
        line-height: 1
    }
}

.OptionGroup_h2___6V1P {
    font-family: Huge;
    font-size: 40px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .OptionGroup_h2___6V1P {
        font-size:calc(50 / 1024 * 100vw);
        line-height: .9
    }
}

@media(min-width: 1440px) {
    .OptionGroup_h2___6V1P {
        font-size:calc(70 / 1440 * 100vw);
        line-height: 1
    }
}

.OptionGroup_h3__qZWRr {
    font-family: Huge;
    font-size: 26px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .OptionGroup_h3__qZWRr {
        font-size:calc(40 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_h3__qZWRr {
        font-size:calc(50 / 1440 * 100vw)
    }
}

.OptionGroup_h4__wHeOt {
    font-family: Huge;
    font-size: 24px;
    letter-spacing: .02rem;
    line-height: 1.1
}

@media(min-width: 1024px) {
    .OptionGroup_h4__wHeOt {
        font-size:calc(34 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_h4__wHeOt {
        font-size:calc(34 / 1440 * 100vw)
    }
}

.OptionGroup_h5__9zu4J {
    font-family: Huge;
    font-size: 20px;
    letter-spacing: .02rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .OptionGroup_h5__9zu4J {
        font-size:calc(24 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_h5__9zu4J {
        font-size:calc(24 / 1440 * 100vw)
    }
}

.OptionGroup_h6__YXuJ9 {
    font-family: Huge;
    font-size: 14px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .OptionGroup_h6__YXuJ9 {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_h6__YXuJ9 {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.OptionGroup_eyebrow__haI0U {
    font-family: Huge;
    font-size: 12px;
    letter-spacing: .04rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .OptionGroup_eyebrow__haI0U {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_eyebrow__haI0U {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.OptionGroup_smallEyebrow__gIC_c {
    font-family: Huge;
    font-size: 10px;
    letter-spacing: .04rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .OptionGroup_smallEyebrow__gIC_c {
        font-size:calc(10 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_smallEyebrow__gIC_c {
        font-size:calc(10 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.OptionGroup_bigText__golNL {
    font-family: Huge;
    font-size: 100px;
    letter-spacing: .02rem;
    line-height: .9
}

@media(min-width: 1024px) {
    .OptionGroup_bigText__golNL {
        font-size:calc(180 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_bigText__golNL {
        font-size:calc(250 / 1440 * 100vw)
    }
}

.OptionGroup_comment__qoxgT {
    font-family: TobiasRegular;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .01rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .OptionGroup_comment__qoxgT {
        font-size:calc(30 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_comment__qoxgT {
        font-size:calc(30 / 1440 * 100vw)
    }
}

.OptionGroup_highlightText__wguTY {
    font-family: TobiasRegular;
    font-size: 16px;
    letter-spacing: .01rem;
    line-height: 1.6
}

@media(min-width: 1024px) {
    .OptionGroup_highlightText__wguTY {
        font-size:calc(16 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_highlightText__wguTY {
        font-size:calc(16 / 1440 * 100vw)
    }
}

.OptionGroup_quote__ScMdj {
    font-family: TobiasLight;
    font-size: 30px;
    letter-spacing: .01rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .OptionGroup_quote__ScMdj {
        font-size:calc(30 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_quote__ScMdj {
        font-size:calc(30 / 1440 * 100vw)
    }
}

.OptionGroup_bigQuote__uvGr0 {
    font-family: TobiasLight;
    font-size: 32px;
    letter-spacing: .01rem;
    line-height: 1.27
}

@media(min-width: 1024px) {
    .OptionGroup_bigQuote__uvGr0 {
        font-size:calc(40 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_bigQuote__uvGr0 {
        font-size:calc(48 / 1440 * 100vw)
    }
}

.OptionGroup_author__S_he8 {
    font-family: Huge;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .OptionGroup_author__S_he8 {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_author__S_he8 {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.OptionGroup_cardHeadline__mjLKN {
    font-family: Huge;
    font-size: 24px;
    letter-spacing: .02rem;
    line-height: 1.1
}

@media(min-width: 1024px) {
    .OptionGroup_cardHeadline__mjLKN {
        font-size:calc(22 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_cardHeadline__mjLKN {
        font-size:calc(28 / 1440 * 100vw)
    }
}

.OptionGroup_body__QOMUK {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.8
}

@media(min-width: 1024px) {
    .OptionGroup_body__QOMUK {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_body__QOMUK {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.OptionGroup_bigBody____9NG {
    font-family: TobiasRegular;
    font-size: 16px;
    letter-spacing: .01rem;
    line-height: 1.5
}

@media(min-width: 1024px) {
    .OptionGroup_bigBody____9NG {
        font-size:calc(16 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_bigBody____9NG {
        font-size:calc(24 / 1440 * 100vw)
    }
}

.OptionGroup_lH1Headline__WCuax {
    font-family: Huge;
    font-size: 40px;
    letter-spacing: .02rem;
    line-height: 1
}

@media(min-width: 1024px) {
    .OptionGroup_lH1Headline__WCuax {
        font-size:calc(72 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_lH1Headline__WCuax {
        font-size:calc(100 / 1440 * 100vw)
    }
}

.OptionGroup_articleParagraph__KgzBA {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.5
}

@media(min-width: 1024px) {
    .OptionGroup_articleParagraph__KgzBA {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_articleParagraph__KgzBA {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.OptionGroup_formTitle__FCSd9 {
    font-family: Huge;
    font-size: 20px;
    letter-spacing: .02rem;
    line-height: .994
}

@media(min-width: 1024px) {
    .OptionGroup_formTitle__FCSd9 {
        font-size:calc(12 / 1024 * 100vw);
        letter-spacing: .04rem
    }
}

@media(min-width: 1440px) {
    .OptionGroup_formTitle__FCSd9 {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.OptionGroup_checkbox__Ry1bq .OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B .OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B .OptionGroup_radio___sOm9 {
    align-items: center;
    background: transparent;
    border: 1px solid #727272;
    display: flex;
    flex-shrink: 0;
    height: 23px;
    justify-content: center;
    margin-right: 16px;
    position: relative;
    width: 23px
}

@media(min-width: 1024px) {
    .OptionGroup_checkbox__Ry1bq .OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B .OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B .OptionGroup_radio___sOm9 {
        height:calc(23 / 1024 * 100vw);
        margin-right: calc(16 / 1024 * 100vw);
        width: calc(23 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_checkbox__Ry1bq .OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B .OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B .OptionGroup_radio___sOm9 {
        height:calc(23 / 1440 * 100vw);
        margin-right: calc(16 / 1440 * 100vw);
        width: calc(23 / 1440 * 100vw)
    }
}

.OptionGroup_checkbox__Ry1bq .OptionGroup_check___QmxL:after,.OptionGroup_optionInput__rtK6B .OptionGroup_check___QmxL:after,.OptionGroup_optionInput__rtK6B .OptionGroup_radio___sOm9:after {
    background: #f9008e;
    content: "";
    height: 13px;
    opacity: 0;
    width: 13px
}

@media(min-width: 1024px) {
    .OptionGroup_checkbox__Ry1bq .OptionGroup_check___QmxL:after,.OptionGroup_optionInput__rtK6B .OptionGroup_check___QmxL:after,.OptionGroup_optionInput__rtK6B .OptionGroup_radio___sOm9:after {
        height:calc(13 / 1024 * 100vw);
        width: calc(13 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_checkbox__Ry1bq .OptionGroup_check___QmxL:after,.OptionGroup_optionInput__rtK6B .OptionGroup_check___QmxL:after,.OptionGroup_optionInput__rtK6B .OptionGroup_radio___sOm9:after {
        height:calc(13 / 1440 * 100vw);
        width: calc(13 / 1440 * 100vw)
    }
}

.OptionGroup_checkbox__Ry1bq {
    font-family: Huge;
    font-size: 12px;
    letter-spacing: .04rem;
    line-height: .994;
    align-items: center;
    cursor: pointer;
    display: flex
}

@media(min-width: 1024px) {
    .OptionGroup_checkbox__Ry1bq {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_checkbox__Ry1bq {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.OptionGroup_checkbox__Ry1bq>input[type=checkbox] {
    height: 1px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 1px
}

.OptionGroup_checkbox__Ry1bq>input[type=checkbox].focus-visible:focus~.OptionGroup_check___QmxL {
    outline: 1px auto blue
}

.OptionGroup_checkbox__Ry1bq>input[type=checkbox]:checked~.OptionGroup_check___QmxL:after {
    opacity: 1
}

.black .OptionGroup_checkbox__Ry1bq>input[type=checkbox]:focus~.OptionGroup_check___QmxL {
    border: 1px solid #fff
}

.white .OptionGroup_checkbox__Ry1bq>input[type=checkbox]:focus~.OptionGroup_check___QmxL {
    border: 1px solid #141414
}

.OptionGroup_grid__QjjMk {
    -moz-column-gap: 4.444vw;
    column-gap: 4.444vw;
    display: grid;
    grid-auto-rows: minmax(1px,auto);
    grid-template-columns: repeat(4,minmax(0,1fr));
    row-gap: 0;
    grid-template-columns: repeat(-1,minmax(0,1fr));
    margin-left: 4.444vw;
    margin-right: 4.444vw
}

@media(min-width: 1024px) {
    .OptionGroup_grid__QjjMk {
        -moz-column-gap:1.563vw;
        column-gap: 1.563vw;
        grid-template-columns: repeat(8,1fr);
        row-gap: 0;
        grid-template-columns: repeat(-1,minmax(0,1fr));
        margin-left: 3.125vw;
        margin-right: 3.125vw
    }
}

@media(min-width: 1440px) {
    .OptionGroup_grid__QjjMk {
        -moz-column-gap:1.389vw;
        column-gap: 1.389vw;
        grid-template-columns: repeat(8,1fr);
        row-gap: 0;
        grid-template-columns: repeat(-1,minmax(0,1fr));
        margin-left: 4.167vw;
        margin-right: 4.167vw
    }
}

@media(max-width: 1023px) {
    .OptionGroup_grid-mobile-margin__stn56 {
        margin-left:4.444vw;
        margin-right: 4.444vw
    }
}

.OptionGroup_optionDescription__ow5XY li:before {
    background-color: #f9008e;
    content: "";
    display: block;
    height: 2px;
    position: absolute
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY li:before {
        height:calc(2 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY li:before {
        height:calc(2 / 1440 * 100vw)
    }
}

.OptionGroup_container__Kv1nz {
    margin: 56px 0
}

@media(min-width: 1024px) {
    .OptionGroup_container__Kv1nz {
        margin-bottom:calc(64 / 1024 * 100vw);
        margin-top: calc(64 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_container__Kv1nz {
        margin-bottom:calc(80 / 1440 * 100vw);
        margin-top: calc(80 / 1440 * 100vw)
    }
}

.OptionGroup_optionGroup__WkQHK {
    border: none;
    padding: 0
}

.OptionGroup_optionInput__rtK6B {
    font-family: Huge;
    font-size: 12px;
    letter-spacing: .04rem;
    line-height: .994;
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative
}

@media(min-width: 1024px) {
    .OptionGroup_optionInput__rtK6B {
        font-size:calc(12 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionInput__rtK6B {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

.OptionGroup_optionInput__rtK6B:not(:first-child) {
    margin-top: 25px
}

@media(min-width: 1024px) {
    .OptionGroup_optionInput__rtK6B:not(:first-child) {
        margin-top:calc(25 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionInput__rtK6B:not(:first-child) {
        margin-top:calc(25 / 1440 * 100vw)
    }
}

.OptionGroup_optionInput__rtK6B .OptionGroup_radio___sOm9,.OptionGroup_optionInput__rtK6B .OptionGroup_radio___sOm9:after {
    border-radius: 100%
}

.OptionGroup_optionInput__rtK6B>input[type=checkbox],.OptionGroup_optionInput__rtK6B>input[type=radio] {
    height: 1px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 1px
}

.OptionGroup_optionInput__rtK6B>input[type=checkbox].focus-visible:focus+.OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B>input[type=checkbox].focus-visible:focus+.OptionGroup_radio___sOm9,.OptionGroup_optionInput__rtK6B>input[type=radio].focus-visible:focus+.OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B>input[type=radio].focus-visible:focus+.OptionGroup_radio___sOm9 {
    outline: 1px auto blue
}

.OptionGroup_optionInput__rtK6B>input[type=checkbox]:checked~.OptionGroup_check___QmxL,.OptionGroup_optionInput__rtK6B>input[type=radio]:checked~.OptionGroup_radio___sOm9 {
    border: 1px solid #727272
}

.OptionGroup_optionInput__rtK6B>input[type=checkbox]:checked~.OptionGroup_check___QmxL:after,.OptionGroup_optionInput__rtK6B>input[type=radio]:checked~.OptionGroup_radio___sOm9:after {
    opacity: 1
}

.OptionGroup_optionLabel__Bhv3c {
    align-items: center;
    display: flex
}

.OptionGroup_optionDescription__ow5XY {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.8;
    margin: 56px 0
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY {
        font-size:calc(14 / 1440 * 100vw)
    }
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY {
        margin-bottom:calc(64 / 1024 * 100vw);
        margin-top: calc(64 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY {
        margin-bottom:calc(80 / 1440 * 100vw);
        margin-top: calc(80 / 1440 * 100vw)
    }
}

.OptionGroup_optionDescription__ow5XY>strong {
    font-family: Huge;
    font-size: 20px;
    letter-spacing: .02rem;
    line-height: .994;
    display: block;
    margin-bottom: 24px;
    margin-top: 56px
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY>strong {
        font-size:calc(12 / 1024 * 100vw);
        letter-spacing: .04rem
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY>strong {
        font-size:calc(14 / 1440 * 100vw);
        letter-spacing: .05rem
    }
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY>strong {
        margin-bottom:calc(24 / 1024 * 100vw);
        margin-top: calc(64 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY>strong {
        margin-bottom:calc(24 / 1440 * 100vw);
        margin-top: calc(80 / 1440 * 100vw)
    }
}

.OptionGroup_optionDescription__ow5XY>strong:first-child {
    margin-top: 0
}

.OptionGroup_optionDescription__ow5XY p {
    margin-bottom: 24px
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY p {
        margin-bottom:calc(24 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY p {
        margin-bottom:calc(24 / 1440 * 100vw)
    }
}

.OptionGroup_optionDescription__ow5XY p:last-child,.OptionGroup_optionDescription__ow5XY ul:last-child {
    margin-bottom: 0
}

.OptionGroup_optionDescription__ow5XY ul {
    margin: 32px 0;
    padding-left: 20px
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY ul {
        grid-column-end:9;
        grid-column-start: 5;
        margin-bottom: calc(32 / 1024 * 100vw);
        margin-top: calc(32 / 1024 * 100vw);
        padding-left: calc(20 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY ul {
        margin-bottom:calc(40 / 1440 * 100vw);
        margin-top: calc(40 / 1440 * 100vw);
        padding-left: calc(20 / 1440 * 100vw)
    }
}

.OptionGroup_optionDescription__ow5XY li {
    font-family: TobiasRegular;
    font-size: 14px;
    letter-spacing: .01rem;
    line-height: 1.8;
    position: relative
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY li {
        font-size:calc(14 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY li {
        font-size:calc(14 / 1440 * 100vw)
    }
}

.OptionGroup_optionDescription__ow5XY li:before {
    left: -20px;
    top: 13px;
    width: 10px
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY li:before {
        left:calc(-20 / 1024 * 100vw);
        top: calc(13 / 1024 * 100vw);
        width: calc(10 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY li:before {
        left:calc(-20 / 1440 * 100vw);
        top: calc(13 / 1440 * 100vw);
        width: calc(10 / 1440 * 100vw)
    }
}

.OptionGroup_optionDescription__ow5XY a {
    border-bottom: 2px solid #f9008e;
    text-decoration: none
}

@media(min-width: 1024px) {
    .OptionGroup_optionDescription__ow5XY a {
        border-bottom-width:calc(2 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionDescription__ow5XY a {
        border-bottom-width:calc(2 / 1440 * 100vw)
    }
}

.OptionGroup_optionFieldTitle__lqxZV {
    font-family: TobiasRegular;
    font-size: 16px;
    letter-spacing: .01rem;
    line-height: 1.5;
    display: block;
    margin-bottom: 24px
}

@media(min-width: 1024px) {
    .OptionGroup_optionFieldTitle__lqxZV {
        font-size:calc(16 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionFieldTitle__lqxZV {
        font-size:calc(24 / 1440 * 100vw)
    }
}

@media(min-width: 1024px) {
    .OptionGroup_optionFieldTitle__lqxZV {
        margin-bottom:calc(32 / 1024 * 100vw)
    }
}

@media(min-width: 1440px) {
    .OptionGroup_optionFieldTitle__lqxZV {
        margin-bottom:calc(40 / 1440 * 100vw)
    }
}

.black .OptionGroup_optionInput__rtK6B>input[type=checkbox]:focus~.OptionGroup_check___QmxL,.black .OptionGroup_optionInput__rtK6B>input[type=radio]:focus~.OptionGroup_radio___sOm9 {
    border-color: #fff
}

.white .OptionGroup_optionInput__rtK6B>input[type=checkbox]:focus~.OptionGroup_check___QmxL,.white .OptionGroup_optionInput__rtK6B>input[type=radio]:focus~.OptionGroup_radio___sOm9 {
    border-color: #141414
}

.TextArea_textArea__3iNW4 {
    transition: color .5s ease,background-color .5s ease,border-color .4s ease-in-out
}

.TextArea_textArea__3iNW4~label>span {
    transition: top .4s ease,font-size .4s ease,color .4s ease
}

.TextArea_textArea__3iNW4.TextArea_active__XHGGE:valid~label>span,.TextArea_textArea__3iNW4:focus~label>span,.TextArea_textArea__3iNW4:not(:empty)~label>span {
    --tw-text-opacity: 1;
    color: rgb(115 118 125/var(--tw-text-opacity));
    top: -262px;
    left: 10px;
    font-size: 12px
}

.TextArea_textArea__3iNW4:invalid+label>span {
    color: #000
}

.HeroHome_outer__7ykWP {
    --trigger-p2: 500px;
    height: var(--viewport-height,100vh);
    position: relative;
    transition: height .3s ease;
    width: 100%
}

.HeroHome_trigger_1__lewG3 {
    height: var(--trigger-p2);
    left: 0;
    position: absolute;
    top: 0;
    width: 0
}

.HeroHome_trigger_2__QGPbp {
    height: 20px;
    left: 0;
    position: absolute;
    top: var(--trigger-p2);
    width: 0
}

.HeroHome_ani--fade-up__io1QH {
    letter-spacing: -.5
}

.HeroHome_wrapper__qT2Bs {
    background-color: #000;
    height: var(--viewport-height,100vh);
    overflow: hidden;
    position: relative;
    transition: height .3s ease;
    width: 100%;
    --side-distance: 4px;
    --heading-p1-size: 42px;
    --heading-p2-size: 34px;
    --stage-padding-bottom: 120px
}

@media (min-width: 480px) {
    .HeroHome_wrapper__qT2Bs {
        --heading-p1-size:56px;
        --heading-p2-size: 42px;
        --stage-padding-bottom: 100px
    }
}

@media (min-width: 640px) {
    .HeroHome_wrapper__qT2Bs {
        --side-distance:10px;
        --stage-padding-bottom: 80px
    }
}

@media (min-width: 768px) {
    .HeroHome_wrapper__qT2Bs {
        --heading-p1-size:70px;
        --heading-p2-size: 48px
    }
}

.HeroHome_reveal__z4IN7 {
    position: absolute;
    top: 0;
    z-index: 1
}

.HeroHome_reveal_side__1nB5v {
    background-color: #fff;
    height: 100vh;
    transform: scaleY(0);
    transform-origin: center
}

.HeroHome_reveal_left__lOaci {
    border-right: 1px solid #000;
    left: 0;
    width: 50%
}

.HeroHome_reveal_right__IbVL2 {
    border-left: 1px solid #000;
    right: 0;
    width: calc(50% + 1px)
}

.HeroHome_reveal_bottom___EjYw {
    background-color: #fff;
    height: 100vh;
    left: 0;
    width: 100vw
}

.HeroHome_reveal_final__HNCtl {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 100%;
    transform: scaleY(0)
}

.HeroHome_reveal_divider__POEwD,.HeroHome_reveal_final__HNCtl {
    left: var(--side-distance);
    width: calc(100% - var(--side-distance) * 2)
}

.HeroHome_reveal_divider__POEwD {
    background-color: #000;
    height: 1px;
    position: absolute;
    top: 50%
}

.HeroHome_stage_wrapper__s4eO4 {
    height: 100%;
    left: 0;
    padding-top: 120px;
    position: absolute;
    top: 0;
    width: 100%
}

.HeroHome_stage_2__0kVf2 {
    padding-top: 146px
}

.HeroHome_bgvideo__JO2g_ {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.HeroHome_safeArea__J0p5H {
    padding-bottom: env(safe-area-inset-bottom)
}

.HeroHome_mutiline__CwUDv {
    padding-right: 4%
}

.HeroHome_overlay__2wvfa {
    background-color: rgba(0,0,0,.75);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

@font-face {
    font-family: swiper-icons;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #007aff
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-android .swiper-slide,.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-pointer-events {
    touch-action: pan-y
}

.swiper-pointer-events.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight,.swiper-autoheight .swiper-slide {
    height: auto
}

.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform,height
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-3d,.swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px
}

.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide,.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top,.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-3d .swiper-slide-shadow {
    background: rgba(0,0,0,.15)
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg,rgba(0,0,0,.5),transparent)
}

.swiper-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-vertical.swiper-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

.swiper-centered>.swiper-wrapper:before {
    content: "";
    flex-shrink: 0;
    order: 9999
}

.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-start: var(--swiper-centered-offset-before);
    margin-inline-start:var(--swiper-centered-offset-before)}

.swiper-centered.swiper-horizontal>.swiper-wrapper: before {
    height:100%;
    min-height: 1px;
    width: var(--swiper-centered-offset-after)
}

.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-before: var(--swiper-centered-offset-before);
    margin-block-start:var(--swiper-centered-offset-before)}

.swiper-centered.swiper-vertical>.swiper-wrapper: before {
    width:100%;
    min-width: 1px;
    height: var(--swiper-centered-offset-after)
}

.swiper-centered>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: center center;
    scroll-snap-stop:always}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,.1)
}

.swiper-scrollbar-disabled>.swiper-scrollbar,.swiper-scrollbar.swiper-scrollbar-disabled {
    display: none!important
}

.swiper-horizontal>.swiper-scrollbar,.swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-scrollbar.swiper-scrollbar-vertical,.swiper-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-scrollbar-lock {
    display: none
}

.swiper-fade.swiper-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-fade .swiper-slide-active,.swiper-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}
